* {
    font-family: Montserrat;
}

a {
    color: #76e1ef;
}

a:visited {
    color: black;
}

html {
    font-size: 18px;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #0f2027;
    background: -webkit-gradient(linear,
            left bottom,
            left top,
            from(#2c5364),
            color-stop(#203a43),
            to(#0f2027));
    background: linear-gradient(to top, #2c5364, #203a43, #0f2027);
}

header {
    height: 60px;
    background: red;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 60px;
    top: 0;
}

h1 {
    color: white;
    line-height: 100%;
    font-weight: 900;
    font-size: 2.7rem;
    padding: 150px 0;
}

h1 strong {
    font-weight: 400;
    color: rgb(255, 0, 76);
}

h2 {
    font-size: 2rem;
    color: rgb(130, 207, 42);
}

h2+p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #fff;
}

.container {
    width: 70vw;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    list-style-type: none;
    padding: 10px;
}

nav a {
    font-size: 18px;
}

#hero-figuru {
    position: absolute;
    right: 0;
    top: 0;
}

section {
    position: relative;
    margin: 120px 0;
}

.form input,
select,
textarea {
    display: block;
}

.input-block {
    margin: 10px 0;
}

.input-block input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 340px;
    font-size: 1.1rem;
}

.checkbox-input input {
    width: auto;
    display: inline-block;
}

.checkbox-input label {
    display: block;
}

/* .vac-list {
    display: flex;
    flex-wrap: wrap;
} */

/* #first {
    order: 1;
} */
.vac-list {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 100px;
}

#vac ul {
    padding: 0;
}

#vac ul li {
    background: rgb(44, 210, 239);
    width: 35%;
    list-style: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 10px 10px 0;
    border-radius: 30px;
    font-size: 24px;
    color: #000000;
}

#vac ul li:nth-child(2n) {
    background: red;
}

/* .vac-list {
    width: 70%;
    padding: 0;
}

.vac-list li {
    font-size: 1.6rem;
    display: inline-block;
    padding: 10px 30px;
    margin: 5px;
    border-radius: 35px;
    background: #ffffff;
    list-style-type: none;
} */

.vac li:nth-child(2n) {
    background: #12a13d;
}

.form label {
    display: block;
    padding: 10px 0 5px;
    font-size: 1.2rem;
    color: #fff;
}

.form select {
    width: 300px;
    font-size: 1.1rem;
}

.form textarea {
    padding: 10px;
    resize: none;
    width: 100%;
}

.form fieldset {
    border: none;
}

.cond td {
    padding: 10px;
    text-align: center;
}

.hero figcaption {
    color: #fff;
    opacity: 0.1;
    font-size: 0.6rem;
}

.hero figcaption a {
    color: #fff;
}

/* Table */
.big-table {
    max-width: 100%;
}

.big-table td,
th {
    padding: 15px;
    text-align: center;
}

th {
    background: rgb(117, 117, 128);
}

td {
    background: rgb(78, 187, 28);
    text-align: center;
}

/* Четные строки */
/* .big-table tr:nth-child(even) {
    background: rgb(37, 74, 197);
} */

.big-table tr:nth-child(2n) td:last-child {
    border-radius: 0 30px 30px 0;
}

.big-table tr:nth-child(2n) th {
    border-radius: 30px 0 0 30px;
}

/* Нечетные строки */
/* .big-table tbody tr:nth-child(odd) {
    background: red;
} */

.big-table tbody tr:nth-child(odd) td:last-child {
    border-radius: 0 30px 30px 0;
}

.big-table tbody tr:nth-child(odd) th {
    border-radius: 30px 0 0 30px;
}

.button {
    margin: 20px 10px 0 0;
    background: rgb(255, 0, 76);
    color: #fff;
    border: 3px solid black;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 1.2rem;
}

#hero-figure {
    position: absolute;
    right: 0;
    top: 0;
}

.zayavka {
    margin: 10px 0;
}

#label {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}



#label input {
    min-height: 20px;
    background-color: rgb(214, 236, 227);
    border-radius: 30px;
    font-size: 22px;
    margin: 0 0;
    padding: 10px 15px;
    float: right;
}

label,
select {
    margin: 10px 0;
    font-size: 28px;
    padding: 10px 0;
}

select {
    padding: 10px 10px;
}

h2+p {
    background: #54b0d8;
}

.uroven {
    font-size: 30px;
    color: #13a5e4;
}

.social {
    display: flex;
    flex-direction: column;
}

.social input {
    max-width: 300px;
    border-radius: 10px;
    padding: 10px 15px;
}

.social-text {
    font-size: 1.5em;
    color: #ac1d81;
}

button {
    min-width: 200px;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 8px 15px;
    margin-left: auto;
    color: #e41010;
    background-color: #e2d733;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    transition: background-color 0.2s linear;
}

fieldset {
    width: 400px;
}

/* Gridd - Сетка */

.gallary .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    column-gap: 10px;
    row-gap: 15px;
}

.galary-box {
    border-radius: 30px;
    overflow: hidden;
    /* Для скругления картинок */

}

.galary-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box2 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}

.box5 {
    grid-column: span 2;
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 850px) {

    .gallary,
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: flex-start;
    }

    .box1,
    .box2,
    .box5 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 450px) {

    .gallary,
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5);
    }
}




footer {
    background: rgb(90, 83, 83);
    height: 60px;
}

footer .row {
    display: flex;
}

.footer-text {
    flex-basis: 60vh;
    font-size: 0.7rem;
}

@media screen and (max-width: 1280px) {
    #hero-figuru {
        position: static;
    }
}

/* @media screen and (min-width: 768px) and (max-width: 1280px) {
    .container {
        width: 90vh;
    }
} */